## STOOQ SP500

In [1]:
import pandas as pd

In [2]:
#open csv file
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\stock_astrology\^spx_d.csv')
sp_df = pd.read_csv(file)
sp_df

             Date     Open     High      Low    Close        Volume
0      1789-05-01     0.51     0.51     0.51     0.51           NaN
1      1789-06-01     0.51     0.51     0.51     0.51           NaN
2      1789-07-01     0.50     0.50     0.50     0.50           NaN
3      1789-08-01     0.50     0.51     0.50     0.51           NaN
4      1789-09-01     0.51     0.51     0.50     0.51           NaN
...           ...      ...      ...      ...      ...           ...
38924  2023-04-17  4137.17  4151.72  4123.18  4151.32  2.134208e+09
38925  2023-04-18  4164.26  4169.48  4140.36  4154.87  2.125370e+09
38926  2023-04-19  4139.33  4162.57  4134.49  4154.52  2.167628e+09
38927  2023-04-20  4130.48  4148.57  4114.57  4129.79  2.452867e+09
38928  2023-04-21  4132.14  4138.02  4113.86  4133.52  2.297556e+09

[38929 rows x 6 columns]

In [4]:
#rename columns
sp_df = sp_df.rename(columns = {'Date': 'date', 'Open': 'open', 'High': 'high', 'Low': 'low', 
                                'Close': 'close', 'Volume': 'volume'})

#crate a new column with the % market change
column_values = sp_df['close']
pct_diff = column_values.pct_change() * 100
sp_df['percent_change'] = pct_diff

#realocate the % change column to the sixth spot
sp_df.insert(5, 'percent_change', sp_df.pop('percent_change'))

#crate a new column with the % volume change
column_values = sp_df['volume']
pct_diff = column_values.pct_change() * 100
sp_df['volume_percent_change'] = pct_diff

#eliminate rows with dates prior to 1928
sp_df = sp_df[sp_df['date'] >= '1928-01-01']
sp_df = sp_df.reset_index (drop=True)

#convert NaN to 0
sp_df['percent_change'] = sp_df['percent_change'].fillna(0)
sp_df['date'] = sp_df['date'].fillna(0)
sp_df['open'] = sp_df['open'].fillna(0)
sp_df['high'] = sp_df['high'].fillna(0)
sp_df['low'] = sp_df['low'].fillna(0)
sp_df['close'] = sp_df['close'].fillna(0)
sp_df['percent_change'] = sp_df['percent_change'].fillna(0)
sp_df['volume'] = sp_df['volume'].fillna(0)
sp_df['volume_percent_change'] = sp_df['volume_percent_change'].fillna(0)

# check the number of the rows contain inf values
inf_cols = sp_df.isin([np.inf, -np.inf]).any()
inf_rows = sp_df.isin([np.inf, -np.inf]).any(axis=1)
# print the columns and rows containing inf values
print("Rows containing inf: ", list(inf_rows[inf_rows == True].index))

#treat inf values
inf_df = sp_df.isin([np.inf, -np.inf])
inf_rows = sp_df.loc[inf_df.any(axis=1)]
print(inf_rows)
print(sp_df.iloc[6492])
sp_df = sp_df.replace([np.inf, -np.inf], 0)

Rows containing inf:  []
Empty DataFrame
Columns: [date, open, high, low, close, percent_change, volume, % change, volume_percent_change]
Index: []
date                     1950-01-03
open                          16.66
high                          16.66
low                           16.66
close                         16.66
percent_change            -0.596659
volume                     700000.0
% change                  -0.596659
volume_percent_change           0.0
Name: 6492, dtype: object

In [6]:
sp_df.tail()

,date,open,high,low,close,percent_change,volume,% change,volume_percent_change
25019,2023-04-17,4137.17,4151.72,4123.18,4151.32,0.330623,2.134208e+09,0.330623,2.117729
25020,2023-04-18,4164.26,4169.48,4140.36,4154.87,0.085515,2.125370e+09,0.085515,-0.414113
25021,2023-04-19,4139.33,4162.57,4134.49,4154.52,-0.008424,2.167628e+09,-0.008424,1.988244
25022,2023-04-20,4130.48,4148.57,4114.57,4129.79,-0.595255,2.452867e+09,-0.595255,13.159058
25023,2023-04-21,4132.14,4138.02,4113.86,4133.52,0.090319,2.297556e+09,0.090319,-6.331798

In [7]:
#save as a new cvs file
sp_df.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\Stock&Moon\sp500_index.csv', index = False)