## QUERIES

In [1]:
import pandas as pd

In [2]:
file = open(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\Stock&Moon\sp500_index.csv')
sp_df = pd.read_csv(file)
sp_df

,date,open,high,low,close,percent_change,volume,volume_percent_change
0,1928-01-03,17.76,17.76,17.76,17.76,0.338983,0.000000e+00,0.000000
1,1928-01-04,17.72,17.72,17.72,17.72,-0.225225,0.000000e+00,0.000000
2,1928-01-05,17.55,17.55,17.55,17.55,-0.959368,0.000000e+00,0.000000
3,1928-01-06,17.66,17.66,17.66,17.66,0.626781,0.000000e+00,0.000000
4,1928-01-07,17.68,17.68,17.68,17.68,0.113250,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...
25019,2023-04-17,4137.17,4151.72,4123.18,4151.32,0.330623,2.134208e+09,2.117729
25020,2023-04-18,4164.26,4169.48,4140.36,4154.87,0.085515,2.125370e+09,-0.414113
25021,2023-04-19,4139.33,4162.57,4134.49,4154.52,-0.008424,2.167628e+09,1.988244
25022,2023-04-20,4130.48,4148.57,4114.57,4129.79,-0.595255,2.452867e+09,13.159058
25023,2023-04-21,4132.14,4138.02,4113.86,4133.52,0.090319,2.297556e+09,-6.331798

In [3]:
crash_1929 = pd.DataFrame(sp_df.loc[(sp_df['date'] >= '1929-09-16') & (sp_df['date'] <= '1932-07-08')])

start_row = crash_1929.loc[crash_1929['date'] == '1929-09-16']
end_row = crash_1929.loc[crash_1929['date'] == '1932-07-08']

# calculate percentage difference between high and low values
percentage_diff = ((end_row['low'].values[0] - start_row['high'].values[0]) / start_row['high'].values[0]) * 100
percentage_diff

crash_1929['crash_1929'] = percentage_diff

In [4]:
crash_1929

,date,open,high,low,close,percent_change,volume,volume_percent_change,crash_1929
505,1929-09-16,31.40,31.96,31.21,31.86,1.239276,0.0,0.0,-86.389237
506,1929-09-17,31.93,32.16,31.46,31.60,-0.816070,0.0,0.0,-86.389237
507,1929-09-18,31.48,31.94,31.24,31.68,0.253165,0.0,0.0,-86.389237
508,1929-09-19,31.81,32.18,31.53,31.73,0.157828,0.0,0.0,-86.389237
509,1929-09-20,32.07,32.17,31.24,31.39,-1.071541,0.0,0.0,-86.389237
...,...,...,...,...,...,...,...,...,...
1335,1932-07-01,4.43,4.62,4.41,4.60,3.837472,0.0,0.0,-86.389237
1336,1932-07-05,4.59,4.59,4.40,4.50,-2.173913,0.0,0.0,-86.389237
1337,1932-07-06,4.54,4.64,4.41,4.60,2.222222,0.0,0.0,-86.389237
1338,1932-07-07,4.69,4.72,4.43,4.45,-3.260870,0.0,0.0,-86.389237
1339,1932-07-08,4.47,4.56,4.35,4.41,-0.898876,0.0,0.0,-86.389237

In [5]:
crash_1929.to_csv(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\Stock&Moon\crash_1929.csv', index = False)